<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>test..</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <mingleplugin.HelloWorldBuilder>
      <name>TESTESTESTEST!bla</name>
    </mingleplugin.HelloWorldBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>